# Version 2.x Production Releases
[pulp-v2-stable]
name=Pulp v2 Production Releases
baseurl=http://repos.fedorapeople.org/repos/pulp/pulp/stable/2/$releasever/$basearch/
{% if pulp_repo_enabled == "stable" %}
enabled=1
{% else %}
enabled=0
{% endif %}
skip_if_unavailable=1
gpgcheck=0

# Version 2.x Beta Builds
[pulp-v2-beta]
name=Pulp v2 Beta Builds
baseurl=http://repos.fedorapeople.org/repos/pulp/pulp/beta/2.4/$releasever/$basearch/
{% if pulp_repo_enabled == "beta" %}
enabled=1
{% else %}
enabled=0
{% endif %}
skip_if_unavailable=1
gpgcheck=0

# Weekly Testing Builds
[pulp-v2-testing]
name=Pulp v2 Testing Builds
baseurl=http://repos.fedorapeople.org/repos/pulp/pulp/testing/$releasever/$basearch/
{% if pulp_repo_enabled == "testing" %}
enabled=1
{% else %}
enabled=0
{% endif %}
skip_if_unavailable=1
gpgcheck=0